.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 5vh;
    flex-wrap: wrap;
    color: white;
}

.text{
    font-size: 5vh;
    flex-wrap: wrap;
    color: white;  
}
