.container{
    justify-content: start;
    display: flex;
    align-items: top;
    flex-direction: row;
    height: fit-content;
    min-height: 110vh;
}
      
@media (height <= 920px){
    .container{
        min-height: 115vh;
    }
}