.container{
    justify-content: start;
    display: flex;
    align-items: top;
    flex-direction: row;
    min-height: 105vh;
}

@media (height <= 920px){
    .container{
        min-height: 110vh;
    }
}
      
