@import '../../../App.scss';

.bottomContainer{
    position: absolute;
    width: 100vw;
    background-color: $black;
    bottom:0% ;
    height: max(15vh,150px);
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.githubLink{
    cursor: pointer;
    margin-bottom:1.5vh;
    &:hover{
     color: blue;
     text-decoration: underline;
     font-size: 35px;
    }
}

.footer{
    margin-left: 10vw;
    margin-bottom: 1.5vh;
}



.text{
    margin-left: max(1vw,20px);
}

@media (orientation : portrait) {
    .footer{
        margin-left: 0;
        margin-top: 0;
    }
}