@import '../../../App.scss';
.bar{
    display: flex;
    min-height: 2vh;
    height: fit-content;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(255,125,0,1) 0%, rgba(255,236,0,1) 50%, rgba(255,125,0,1) 100%);
}

@media (orientation : landscape) {
    .bar{
        width: 64vh;
    }
}
@media (orientation : portrait) {
    .bar{
        width: 100%;
    }
}
.figureInBar{
    height: 5vh;
    width: 5vh;
}