.layout{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.85);
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.outlet_container{
    margin-top: min(75px,5vh);
    width: 99vw;
    min-height: 100vh;
}
.outlet_container_centered{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: min(75px,5vh);
    width: 99vw;
    min-height: 100vh;
}

@media (orientation : portrait) {
    .layout {
        min-height: 130vh;
        flex-direction: column;
    }
    .outlet_container {
        width: 100vw;
    }
}

.text{
    font-size: min(25px,2vh);
    color: white;
    font-family: cursive;
}

