.mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Game{
  width: 85vw;
  height: 100vh;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  display: flex;
}

