@import "../../../App.scss";


.sidebar{
    height: 100vh;
    background-color: $black;
    min-width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

@media (orientation : portrait) {
    .sidebar {
        min-width : 100vw;
        position:static;
        height: fit-content;
    }
    .sidebarLink{
        display: none;
    }
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: min(10px,5vh);
}

.sidebarButton {
    background: linear-gradient(90deg, rgba(255,125,0,1) 0%, rgba(255,236,0,1) 50%, rgba(255,125,0,1) 100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size: 100%;          
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-top: 1.5vh;
    letter-spacing: 0.5px;
    font-family:'Courier New', Courier, monospace;
    width: min(150px,30vw);
    height: 5vh;
    &:hover{
         background-position: right center; /* change the direction of the change here */
         color: #fff;
         text-decoration: none;
    }
    border: 1px solid orange;
}


 
.sidebarLogo{
    width: 150px;
    height: 150px;
    border-radius: 35px;
    margin-top: min(20px,5vh);
    border: 2px solid #9733EE;
}
.sidebarLink{
    color: white;
    font-size: 150%;
    margin-top: 1.5vh;
    text-decoration: none;
    &:hover{
        font-size: 125%;
        color: #00eefffa;
        text-decoration: none;
    }
}
.activeLink{
    color: aqua;
    font-size: 150%;
}
.sidebar-button{
    width: 150px;
    height: 5vh;
    border-radius: 10px;
    margin-top: 10%;
}




.chessIoLogo{
    width: 128px;
    height: 64px;
    margin-top: 1vh;
    &:hover{
        cursor: pointer;
    }
}