@import '../../../App.scss';
$maxWidth:560px;
.modal{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999999999999999999999999999999999;
}

.modal_content{
    background-color:whitesmoke;
    border-radius: 16px;
    min-width: min($maxWidth,100vw);
    min-height: 400px;
    border:1.5px solid aqua;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.closeIcon{
    position: absolute;
    top: 1vh;
    right: 1vw;
    color: black;
    font-size: 30px;

    &:hover{
        background-color: darkgray;
        border-radius: 30px;
    }
}

.gameStatusContainer{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}
.wonImage{
    width: 20vw;
    height: 20vw;
}